

/*
    light-green:  #93B1A6;
    medium-green:  #5C8374;
    dark-green:  #335656;
*/





/* Main View ScrollPane Stuff */

.scroll-pane .scroll-bar:vertical {
    -fx-background-color: transparent;
    -fx-padding: 0px;
    -fx-pref-height: 5px; /* Adjust the height to make the scroll bar smaller */
}

.scroll-pane .scroll-bar:vertical .increment-button,
.scroll-pane .scroll-bar:vertical .decrement-button {
    -fx-padding: 0px;
    -fx-min-height: 0;
    -fx-min-width: 0;
    -fx-pref-height: 0; /* Set the height of the buttons to 0 to remove them */
    -fx-opacity: 0; /* Hide the buttons */
}

.scroll-pane .scroll-bar:vertical .thumb {
    -fx-background-color: #888; /* Change this to the color you want */
    -fx-background-radius: 2px; /* Adjust the radius as needed */
    -fx-min-height: 5px; /* Adjust the height to make the thumb slim */
    -fx-max-height: 5px; /* Adjust the height to make the thumb slim */
    -fx-padding: 0px; /* Reset the padding for the thumb */
}


/* General Styles */

.button {
    -fx-background-color: #5C8374;
    -fx-border-color: #93B1A6;
    -fx-border-insets: 1 1 0 1;
    -fx-border-width: 2px;
    -fx-padding: 6px;
    -fx-text-fill: whitesmoke;
}

.button:pressed {
    -fx-background-color: #335656;
    -fx-text-fill: whitesmoke;
}

.text-field {
    -fx-background-color: whitesmoke;
    -fx-border-color: #5C8374;
    -fx-border-width: 2px;
    -fx-border-insets: 1 1 1 1;
}

.tab {
    -fx-background-color: #5C8374;
    -fx-background-insets: 0 10 -2 0;
    -fx-border-insets: 0 10 -2 0;
    -fx-border-color: #93B1A6;
    -fx-border-radius: 8 8 0 0;
    -fx-background-radius: 10 10 0 0;
    -fx-border-width: 2px;
}

.tab  .tab-label {
    -fx-text-fill: black;
}

/* - - - - - - - - - - - - - - - - - - */
.tab:selected {
    -fx-background-color: #335656;
}

.tab:selected .tab-label {
    -fx-text-fill: whitesmoke;
}

.tab-pane .tab-header-background {
    -fx-background-color: #404243;
}
/* - - - - - - - - - - - - - - - - - - */


.context-menu {
    -fx-background-color: #404243;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-padding: 5px;
}

.menu-item {
    -fx-background-color: transparent; /* Background color */
    -fx-text-fill: whitesmoke;
    -fx-padding: 5px;
    -fx-background-radius: 8px;
    -fx-scale-x: 1;
    -fx-scale-y: 1;
    -fx-scale-z: 1;
}

.menu-item:hover {
    -fx-background-color: #5C8374; /* Hover background color */
    -fx-scale-x: 0.95;
    -fx-scale-y: 0.95;
    -fx-scale-z: 0.95;
}

/* Something Specific */

.tab, .text-field, .button {
    -fx-focus-color: transparent;
}

.roundLook {
    -fx-border-radius: 30px;
    -fx-background-radius: 30px;
    -fx-border-color: #93B1A6;
    -fx-border-width: 2px;
    -fx-border-insets: -1 -1 -1 -1;
}

.buttonPaddingBig {
    -fx-padding: 8px 15px;
}

.buttonPaddingSmall {
    -fx-padding: 5px 10px;
}

.buttonBlackToWhite {
    -fx-text-fill: black;
}

.buttonBlackToWhite: pressed {
    -fx-text-fill: whitesmoke;
}

/* Bounce for Buttons */

.bounceSmall {}

.bounceSmall:hover {
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
    -fx-scale-z: 1.05;
}

.bounceSmall:pressed {
    -fx-scale-x: 0.95;
    -fx-scale-y: 0.95;
    -fx-scale-z: 0.95;
}

.bounceBig {}

.bounceBig:hover {
    -fx-scale-x: 1.15;
    -fx-scale-y: 1.15;
    -fx-scale-z: 1.15;
}

.bounceBig:pressed {
    -fx-scale-x: 0.9;
    -fx-scale-y: 0.9;
    -fx-scale-z: 0.9;
}

/* Hovering Chat Panes */

.chatPaneHover {
    -fx-background-color: transparent;
    -fx-background-radius: 15;
    -fx-border-color: black;
    -fx-border-radius: 15;
    -fx-border-width: 0.5;
}

.chatPaneHover:hover {
    -fx-border-color: #93B1A6;;
    -fx-border-width: 1.5px
}

.chatPaneClicked {
    -fx-background-color: #5C8374;
}

/* Temporary Chat Box Buttons */

.confirmButton {
    -fx-background-color: #5C8374; /* lightgreen */
    -fx-border-color: #93B1A6;
    -fx-border-width: 1.5px;
    -fx-text-fill: whitesmoke;
}

.confirmButton:pressed {
    -fx-text-fill: black
}


.cancelButton {
    -fx-background-color: #335656; /* lightpink */
    -fx-border-color: #93B1A6;
    -fx-border-width: 1.5px;
    -fx-text-fill: whitesmoke;
}

.cancelButton:pressed {
    -fx-text-fill: black
}

.usernameField {
    -fx-border-width: 1.5px;
}

/* Search Bar */
.messageTextField {
    -fx-border-width: 1.5px;
    -fx-border-color: #5C8374;
}


